Debug/
Release/
bin/
obj/
TestResults/
coverage-results/
*.trx
.vs/
*.suo
*.user
nunit-result.xml
__pycache__
_Resharper*
packages/
*.cache
/ToolboxBenchmarks/BenchmarkDotNet.Artifacts
/BenchmarkDotNet.Artifacts
