Debug/
Release/
bin/
obj/
TestResults/
*.suo
*.user
nunit-result.xml
__pycache__
_Resharper*
packages/
*.cache
/.vs/ProjectEuler.Toolbox/DesignTimeBuild
/.vs/ProjectEuler.Toolbox/v15/Server/sqlite3
/.vs/ProjectEuler.Toolbox/v16/Server/sqlite3
